[gpg]
	format = ssh
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFYYXTvcmOhotsCanioNrhSpXztzF3Bu9T+f6G1d8IKR
	name = RageLtd
	email = rageltd@pm.me
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	dark = true
	side-by-side = false
	syntax-theme = OneHalfDark
	features = decorations
	file-style = bold yellow ul
	hunk-header-style = file line-number syntax
