[gpg]
	format = ssh
[commit]
	gpgsign = true
	template = $HOME/.stCommitMsg
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFYYXTvcmOhotsCanioNrhSpXztzF3Bu9T+f6G1d8IKR
	name = RageLtd
	email = github@rageltd.ca
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[core]
	pager = delta
	excludesfile = $HOME/.gitignore_global
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	dark = true
	side-by-side = false
	syntax-theme = OneHalfDark
	features = decorations
	file-style = bold yellow ul
	hunk-header-style = file line-number syntax
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
